
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Ol</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="CariAd" Placeholder="Tam Adınız" required="" />
                <input type="text" class="email" name="CariMail" Placeholder="Email" required="" />
                <input type="text" class="phone" name="CariTelefon" Placeholder="Telefon" required="" />
                <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i><a href="#">Hüküm ve Koşulları </a>kabul ediyorum</label>
                </div>
                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>
