@using MvcTicariOtomasyon.Models.Siniflar;
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top: 5px;">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Departman Detay</th>
    </tr>
    @foreach (var k in @Model)
    {

        <tr>
            <td>
                @k.DepartmanId
            </td>
            <td>
                @k.DepartmanAd
            </td>
            <td><a href="/Departman/DepartmanSil/@k.DepartmanId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@k.DepartmanId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@k.DepartmanId" class="btn btn-info">Departman Detay</a></td>
        </tr>
    }


</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">Departman Ekle</a>

